<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-grid>
  <ion-row>
    <ion-col text-center>
     <!-- <ion-img width="96" height="96" src="/assets/imgs/logoMia.png"></ion-img>-->
      <img src="assets/imgs/logoMia.png">
    </ion-col>  
  </ion-row>

    <ion-row>
      <ion-col text-center>
        <h4>MIA</h4>
      </ion-col>
    </ion-row>
  <ion-row>
    <ion-col width-50>
        <ion-list>
          <ion-item>
      	    <ion-label color="dark">E-mail: </ion-label>
      	    <ion-input type="email" [(ngModel)]="email" name="email"></ion-input>
        </ion-item>
       </ion-list>
    </ion-col>
 </ion-row>

  <ion-row>
   <ion-col width-50>
      <ion-list>
        <ion-item>
          <ion-label color="dark">Senha: </ion-label>
          <ion-input type="password" [(ngModel)]="senha" name="senha"></ion-input>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-grid>
    <ion-row text-center>
      <ion-col width-100>
         <button class="color tamanho" ion-button (click)="Entrar(email,senha)"> Entrar </button>
      </ion-col>
    </ion-row>
    <ion-row text-center>
      <ion-col width-100>
        <button class="color" ion-button (click)="Registrar()"> Registrar </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
