<!--
  Generated template for the AdicionaDiarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Adiciona Diario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-grid>

	  <form (ngSubmit)="saveData()">
	    <ion-item>
	      <ion-label color="dark">Data de Cadastro</ion-label>
	      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="data.data" name="data" required=""></ion-datetime>
	    </ion-item>

	    <ion-item>
	      <ion-label color="dark">Tipo de Refeição</ion-label>
	      <ion-select [(ngModel)]="data.tipoRefeicao" name="tipoRefeicao" interface="action-sheet" cancelText="Cancelar">
	        <ion-option *ngFor="let objeto of objeto_pag" value="{{objeto.tipo_Refeicao}}">{{objeto.tipo_Refeicao}}</ion-option>
	      </ion-select>
	    </ion-item>
	    
	    <ion-item>
	      <ion-label color="dark">Comida</ion-label>
	      <ion-input type="text" [(ngModel)]="data.comida" name="comida" required=""></ion-input>
	    </ion-item>

	      <ion-row>
  			<ion-col text-center>
	    		<button ion-button class="color tamanho" type="submit">Salvar</button>
	  		</ion-col>
  		 </ion-row>
	  </form>

</ion-grid>

</ion-content>
