<!--
  Generated template for the EditarDiarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Editar Diario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-grid>
  <form (ngSubmit)="updateData()">
    <ion-item>
      <ion-label color="dark">Data da Reifecao</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="myData.data" name="data" required=""></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label color="dark">Tipo de Refeicao</ion-label>
      <ion-select [(ngModel)]="myData.tipoRefeicao" name="tipoRefeicao" interface="action-sheet" cancelText="Cancelar">
        <ion-option *ngFor="let objeto of objeto_pag" value="{{objeto.tipo_Refeicao}}">{{objeto.tipo_Refeicao}}</ion-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label color="dark">Comida</ion-label>
      <ion-input type="text"  [(ngModel)]="myData.comida" name="comida" required="" ></ion-input>
    </ion-item>

    <ion-input type="hidden" [(ngModel)]="myData.id" name="id"></ion-input>
   
   <ion-row>
    <ion-col text-center>
    	<button ion-button class="color tamanho text-center" type="submit">Salvar</button>
   	</ion-col>
   </ion-row>
  
  </form>
 </ion-grid>
</ion-content>
