<!--
  Generated template for the VideosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Disfagia</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-grid>
	<ion-row>
		<ion-col>
			<iframe width="300" height="250" [src]="sanitize(vid)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
		</ion-col>
	</ion-row>
</ion-grid>

<h4 text-center>Complicações</h4>
<p text-justify>
	 É preciso ficar atento aos sinais de engasgo, aspiração do alimento para o pulmão que 
	 podem causar pneumonia aspirativa,além do risco de desnutrição e desidratação. 
	 Os pacientes podem perder o prazer em se alimentar por conta dos diversos
	 problemas que podem ser acarretados se houver a disfagia.
</p>




</ion-content>
