<!--
  Generated template for the DiarioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <ion-title>Diario</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="AddDiario()">
        <ion-icon name="add-circle"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>


<ion-content padding>
   <h2>Diario de Refeicoes</h2>

  <ion-list>
    <ion-item-sliding *ngFor="let expense of expenses; let i=index">
      <ion-item nopadding>
        <p>
          <span>Data da Refeicao: {{expense.data | date:'dd/MM/yyyy'}}</span><br>
          Tipo Refeicao: {{expense.tipoRefeicao}}<br>
          Comidas: {{expense.comida}}<br>
          IdRegistro: {{expense.idRegistro}}
        </p>
      </ion-item>

      <ion-item-options side="right">
        <button ion-button color="primary" (click)="editData(expense.id)">
          <ion-icon name="paper"></ion-icon>
        </button>
        <button ion-button color="danger" (click)="deleteData(expense.id)">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>
