<!--
  Generated template for the VideoDisfagiaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>O que é disfagia?</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col>
        <iframe width="300" height="250" [src]="sanitize2(video)" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h4 text-center>Prevenção</h4>
  <p text-justify>A melhor forma de prevenir o problema é se alimentar em uma velocidade confortável e,
     de preferência, sentado. Outra dica é focar na consistência da comida sem que coisas 
     externas possam tirar a distração do alimento.</p>

</ion-content>
