<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h5 text-center>Bem Vindo: {{nome}}</h5>

  <ion-grid>
  
  <ion-row>
    <ion-col float-left>
      <button ion-button round class="round colorBlue" (click)="Tratamento()"><ion-icon name="nutrition"></ion-icon>
      </button>
    </ion-col>

    <ion-col float-left>
       <button ion-button round class="round colorRed" (click)="Diario()"><ion-icon name="calendar"></ion-icon></button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col text-right> 
      <p padding-right>Tratamento</p>
      </ion-col>
    <ion-col text-left>
      <p padding-left>Diario</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
        <button ion-button round class="round colorGreen" (click)="Anamnese()"><ion-icon name="medkit"></ion-icon></button>
      </ion-col>
      <ion-col>
        <button ion-button round class="round colorYellow" (click)="Dicas()"><ion-icon name="add-circle"></ion-icon></button>
      </ion-col>
  </ion-row> 

  <ion-row>
    <ion-col text-right> 
      <p padding-right>Anamnese<p>
    </ion-col>

    <ion-col text-left>
      <p padding-left>Dicas<p>
    </ion-col>
  </ion-row>

</ion-grid>

</ion-content>
