page-home {

    .round{
        border-radius: 50%;
        width: 75px;
        height: 75px;
        display: flex;
        justify-content: center;
    }

    .colorRed{
        background-color: #D20000;
        float: left;
    }

    .colorBlue{
        background-color: #1101E8;
        float: right;
    }

    .colorYellow{
        background-color: #F0E764;
        float: left;
    }

    .colorGreen{
        background-color: #22c32a;
        float: right;
    }

}
