<!--
  Generated template for the AnamnesePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Anamnese</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-grid>
  <ion-row>
    <ion-col text-center>
      <ion-list>
        <ion-label text-center>1. Dificuldade deglutir alimentos?</ion-label>
        <ion-item>
          <ion-label>Resposta 1</ion-label>
          <ion-select [(ngModel)]="resposta1" name="resposta1" interface="action-sheet" cancelText="Cancelar">
            <ion-option *ngFor="let objeto of resposta_1_pag" value="{{objeto.resposta1}}">{{objeto.resposta1}}</ion-option>
          </ion-select>
        </ion-item>
    </ion-list>

    <ion-list>
      <ion-label text-center>2. Retencao alimentos faringe?</ion-label>
        <ion-item>
          <ion-label>Resposta 2</ion-label>
          <ion-select [(ngModel)]="resposta2" name="resposta2" interface="action-sheet" cancelText="Cancelar">
            <ion-option *ngFor="let objeto of resposta_2_pag" value="{{objeto.resposta2}}">{{objeto.resposta2}}</ion-option>
          </ion-select>
        </ion-item>
    </ion-list>

    <ion-list>
    <ion-label text-center>3. Sinais aspiração?</ion-label>
        <ion-item>
          <ion-label>Resposta 3</ion-label>
          <ion-select [(ngModel)]="resposta3" name="resposta3" interface="action-sheet" cancelText="Cancelar">
            <ion-option *ngFor="let objeto of resposta_3_pag" value="{{objeto.resposta3}}">{{objeto.resposta3}}</ion-option>
          </ion-select>
        </ion-item>
    </ion-list>
    <ion-list>

    <ion-label text-center>4. Tipo de tosse enguanto se alimenta?</ion-label>
        <ion-item>
          <ion-label>Resposta 4</ion-label>
          <ion-select [(ngModel)]="resposta4" name="resposta4" interface="action-sheet" cancelText="Cancelar">
            <ion-option *ngFor="let objeto of resposta_4_pag" value="{{objeto.resposta4}}">{{objeto.resposta4}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-col>  
  </ion-row>

    <ion-row>
      <ion-col text-center>
        <button ion-button class="color tamanho" (click)="saveData(resposta1,resposta2,resposta3,resposta4)"> Salvar </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
