page-tratamento {

	.col {
	    border: solid 1px #000000;
	    border-bottom-style: none;
	    border-right-style: none;
	}

	.col:last-child {
	    border-right: solid 1px #000000;
	}

	.row:last-child .col {
	    border-bottom: solid 1px #000000;
	}

	.colSemBorda{
		 border: solid 0px #000000;
	    border-bottom-style: none;
	    border-right-style: none;
	}

	.colSemBorda:last-child{
		border-right: solid 0px #000000;
	}

	.row:last-child .colSemBorda {
	    border-bottom: solid 0px #000000;
	}

}
