<!--
  Generated template for the TratamentoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tratamento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
<!--
<ion-grid>
  <ion-row>
    <ion-col text-center>
      Alimentos
    </ion-col>
    <ion-col text-center>
      Qtd de Vezes
    </ion-col>
    <ion-col text-center>
      Dieta
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col text-center>
      {{Alimentos}}		
    </ion-col>
    <ion-col text-center>
      {{Qtd_Alimentos}}
    </ion-col>
    <ion-col text-center>
      {{Dieta_Geral}}
    </ion-col>
  </ion-row>
</ion-grid>-->

<ion-grid>

    <ion-row>
      <ion-col text-center>
        Alimentos
      </ion-col>
      <ion-col text-center>
        Qtd de Vezes
      </ion-col>
      <ion-col text-center>
        Dieta
      </ion-col>
    </ion-row>

    <ion-row *ngFor="let expense of expenses; let i=index">
      <ion-col text-center>
        <p>{{expense.alimentos}}</p>
      </ion-col>
      <ion-col>
        <p>{{expense.qtd_alimentos}}</p>
      </ion-col>
      <ion-col>
        <p>{{expense.dieta_Geral}}</p>
      </ion-col>
    </ion-row>

</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col class="colSemBorda">
      <img src="assets/imgs/leite.jpg" width="96" height="96">
    </ion-col>
      <ion-col class="colSemBorda">
        <img src="assets/imgs/mingau.jpg" width="96" height="96">
      </ion-col>
      <ion-col class="colSemBorda">
        <img src="assets/imgs/suco.jpg" width="96" height="96">
      </ion-col>
    </ion-row>
</ion-grid>

<!--
<ion-list>
    <ion-item-sliding *ngFor="let expense of expenses; let i=index">
      <ion-item nopadding>
        <p>
          Nivel: {{expense.nivel_disfagia}}<br>
          Tipo Refeicao: {{expense.qtd_alimentos}}<br>
          Alimentos: {{expense.alimentos}}<br>
          Dieta: {{expense.dieta_Geral}}<br>
          idRegistro: {{expense.idRegistro}}
        </p>
      </ion-item>

      <ion-item-options side="right">
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
-->

</ion-content>
