<!--
  Generated template for the DicasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
  <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dicas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<h3 text-center> Dicas</h3>

<ion-card>
	<ion-card-header>
		Videos
	</ion-card-header>

	<ion-list>
		<button ion-item (click)="Videos()"><ion-icon name="logo-youtube" color="danger" item-start></ion-icon>Disfagia</button>
  </ion-list>
  
  <ion-list>
    <button ion-item (click)="VideoDisfagia()">
      <ion-icon name="logo-youtube" color="danger" item-start></ion-icon>O que é disfagia?</button>
  </ion-list>
</ion-card>

</ion-content>
