<!--
  Generated template for the RegistroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registro</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-grid>

<ion-row>
    <ion-col text-center>
        <h2>Registro</h2>
    </ion-col>
</ion-row>

  <ion-row>
  <ion-col text-center>
    <form (ngSubmit)="Cadastrar()">
      
      <ion-item>
        <ion-label color="dark">Nome: </ion-label>
        <ion-input type="text" [(ngModel)]="myData.nome" name="nome"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label color="dark">E-mail: </ion-label>
        <ion-input type="email" [(ngModel)]="myData.email" name="email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label color="dark">Senha: </ion-label>
        <ion-input type="password" [(ngModel)]="myData.senha" name="senha"></ion-input>
      </ion-item>

      <button ion-button type="submit" class="color tamanho">Registrar</button>
  </form>
  </ion-col>
</ion-row>

  <ion-row>
    <ion-col text-center>
       <button ion-button (click)="Voltar()" class="color tamanho"> Voltar </button>
    </ion-col>
  </ion-row>
 </ion-grid>
</ion-content>
